body{
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #cccccc;
        text-align:center;
}



.wrapper{
	width: auto;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.container{
	width: 100%;
}

.calc{
	margin-left: auto;
	margin-right: auto;
	max-width: 25em;
}
.calc_keys{
	margin-left: auto;
	margin-right: auto;
	max-width:20em;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.output{
	background-color: #252525;
	color: #ffffff;
	width:100%;
	height: 40px;
	font-size: 2em;
}

.left{
	float: left;
	padding-right: 1em;
}

.right{
	float: right;
	padding-right: 2em;
}

.clear{
	clear: both;
}

.btn{
	width: 60px;
	height: 60px;
}
